@tailwind base;
@tailwind components;
@tailwind utilities;

.text-h4 {
  @apply text-[1.5rem] font-semibold leading-[33.6px];
}

.text-p {
  @apply text-[1rem] leading-[25.6px];
}

.text-p-lg {
  @apply text-[4vw] leading-[5vw] lg:text-[2rem] lg:leading-[44.8px];
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}